<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <title>KantineApp bilder</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
       <h1> Min kantineapp</h1>
       <nav class="nav-menu">
           <a href="/" class="nav-link ">Meny</a>
           <a href="/info" class="nav-link">Info</a>
           <a href="/bilder" class="nav-link">Bilder</a>
       </nav>
    </header>

    
   
<footer>
    <h2> Laget at Patryk fyf så gode nettside. </h2>
</footer>
</body>
</html>
